@charset "UTF-8";
/* colors */
@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.container {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 480px) and (max-width: 768px) {
    .container {
      width: 720px; } }

.section {
  height: 100vh;
  min-height: 650px;
  background-color: rgba(0, 0, 0, 0.31); }
  @media (min-width: 480px) and (max-width: 768px) {
    .section {
      min-height: 1024px; } }

.greeting {
  background-image: url("../images/bg/greeting.jpg");
  background-size: cover;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

.greeting__container {
  height: 100%; }

.greeting__title {
  font-family: gagalinregular;
  font-size: 72px;
  color: #f9b43b; }

.greeting__text {
  font-family: lifehackmedium;
  font-size: 65px;
  color: #fff; }

.greeting__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 480px) and (max-width: 768px) {
    .greeting__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.greeting__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center; }
  @media (min-width: 480px) and (max-width: 768px) {
    .greeting__description {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.greeting__arrow {
  position: absolute;
  bottom: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  display: inline-block;
  height: 74px;
  width: 98px; }

.logo__img {
  max-height: 100%;
  max-width: 100%; }

.order__link {
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  text-decoration: none;
  font-family: ubuntumedium;
  font-size: 13px;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s; }
  .order__link:hover {
    background-color: #c13c18; }

.navmenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 14px; }
  @media (min-width: 480px) and (max-width: 768px) {
    .navmenu-list {
      display: none; } }

.navmenu__item:after {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  margin: 0 12px; }
.navmenu__item:last-child:after {
  display: none; }

.navmenu__link {
  font-family: ubuntumedium;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase; }

.nav-hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px; }
  @media (min-width: 480px) and (max-width: 768px) {
    .nav-hamburger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.nav-hamburger__line {
  height: 4px;
  width: 24px;
  margin-top: 2px;
  margin-bottom: 4px;
  background: #fff;
  display: inline-block;
  border-radius: 2px; }

.about {
  background-image: url("../images/bg/about.jpg");
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about__title {
  margin: 0 0 82px 0;
  font-family: "gagalinregular";
  font-size: 72px;
  color: #2f3234;
  text-transform: uppercase; }

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.about__item {
  text-align: center;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about__icon {
  width: 140px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px; }

.about__img {
  max-width: 100%;
  max-height: 100%; }

.about__subtitle {
  font-family: "lifehackmedium";
  font-size: 24px;
  color: #2f3234;
  margin: 0 0 25px 0; }

.about__description {
  font-family: "ubuntulight";
  font-size: 14px;
  color: #2f3234;
  margin: 0; }

.reviews-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%; }

.reviews__item:hover .reviews__description {
  opacity: 1; }

.reviews__description {
  padding: 50px;
  opacity: 0;
  background-color: rgba(20, 20, 20, 0.7); }

.reviews__name {
  font-size: 14px;
  color: #fff;
  font-family: "gagalinregular";
  margin: 0 0 31px 0; }

.reviews__text {
  font-family: "ubuntulight";
  font-size: 14px;
  color: #fff;
  margin: 0 0 17px 0; }

.reviews__link {
  font-family: "ubuntumedium";
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  background-color: #2f3234; }
  .reviews__link:hover {
    background-color: #232527; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex: 4 0 25%;
          flex: 4 0 25%;
  height: 50%;
  background-size: cover; }

.points {
  position: fixed;
  top: 6.25rem;
  right: 3.125rem;
  z-index: 200; }
  @media (min-width: 480px) and (max-width: 768px) {
    .points {
      display: none; } }
  .points__item {
    display: block;
    border: 0.0625rem solid transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    position: relative;
    margin-bottom: 0.3125rem; }
    .points__item_active {
      border-color: #fff; }
    .points__item:hover {
      border-color: #fff;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .points__item:last-child {
      margin-bottom: 0; }
  .points__link {
    height: 16px;
    width: 16px;
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }

.team {
  background: url("../images/bg/team.jpg") no-repeat;
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 88px; }

.team__title {
  font-family: "gagalinregular";
  font-size: 72px;
  color: #f9b43b;
  padding-bottom: 90px; }

.team-accordion__item {
  padding-bottom: 40px; }
  .team-accordion__item:last-child {
    padding-bottom: 0; }

.team-accordion__name {
  color: #fff;
  font-family: "gagalinregular";
  font-size: 14px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .team-accordion__name:before {
    content: "";
    height: 0;
    width: 0;
    margin-right: 8px;
    border: 9px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px; }

.team-accordion__content {
  padding-top: 15px;
  padding-left: 24px;
  height: 0;
  overflow: hidden; }

.team-accordion__pic {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%; }

.team-accordion__img {
  height: 100%;
  width: 100%; }

.team-accordion__text {
  color: #fff;
  width: 260px;
  padding-left: 20px; }
  .team-accordion__text-title {
    font-family: "ubuntubold"; }
  .team-accordion__text-content {
    font-family: "ubuntulight"; }

.team-accordion__item_active .team-accordion__name {
  color: #f9b43b; }
  .team-accordion__item_active .team-accordion__name:before {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
.team-accordion__item_active .team-accordion__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu {
  background: url("../images/bg/menu.jpg");
  background-size: cover;
  position: relative; }

.menu__title {
  font-family: "gagalinregular";
  font-size: 72px;
  color: #fff;
  position: absolute;
  top: 10%;
  left: 10%; }

.menu-accordion__title {
  font-family: "gagalinregular";
  font-size: 40px;
  text-align: center;
  color: #fff; }

.menu-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; }

.menu-accordion__item, .menu-accordion__link {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover; }

.menu-accordion__item_active .menu-accordion__description {
  width: 550px; }

.menu-accordion__link {
  width: 80px;
  text-decoration: none; }
  .menu-accordion__link:after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7); }

.menu-accordion__title {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -150px;
  white-space: nowrap;
  z-index: 2; }

.menu-accordion__description {
  width: 0;
  background: rgba(47, 50, 52, 0.93);
  overflow: hidden;
  font-family: "ubuntulight";
  font-size: 14px;
  color: #fff; }

.menu-accordion__text {
  padding: 60px 30px; }

.order {
  background-image: url("../images/bg/form.jpg");
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.order__title {
  font-family: "gagalinregular";
  font-size: 72px;
  color: #f9b43b;
  margin-bottom: 78px; }

.form {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px; }
  .form__column:last-child {
    margin-right: 0; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5px; }

.form__label {
  font-family: "ubuntulight";
  font-size: 14px;
  color: #fff;
  margin-bottom: 7px; }

.form__input {
  border: none;
  outline: none;
  border-radius: 4px;
  border: 1px solid #d1cfcb;
  width: 100%;
  height: 35px;
  padding: 0 10px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form__input-textarea {
  height: 109px;
  width: 460px;
  resize: none; }

.form__checkbox {
  display: none; }

.form__checkbox + .form__label {
  position: relative; }

.form__checkbox + .form__label:hover {
  cursor: pointer; }

.form__checkbox + .form__label:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin-right: 10px; }

.form__checkbox + .form__label:after {
  content: '✔';
  display: inline-block;
  color: #e35028;
  position: absolute;
  left: 2px;
  opacity: 0;
  top: -2px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.form__checkbox:checked + .form__label:after {
  opacity: 1; }

.form__row-radio {
  margin-bottom: 30px; }

.form__radio {
  display: none; }

.form__radio + .form__label {
  position: relative;
  margin-right: 20px; }

.form__radio + .form__label:hover {
  cursor: pointer; }

.form__radio + .form__label:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-right: 9px; }

.form__radio + .form__label:after {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #e45028;
  display: inline-block;
  opacity: 0;
  position: absolute;
  left: 4px;
  top: 2px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.form__radio:checked + .form__label:after {
  opacity: 1; }

.form__button {
  font-family: "ubuntulight";
  color: #fff;
  font-size: 14px;
  margin-right: 21px;
  outline: none;
  background: none;
  border: none; }
  .form__button:hover {
    cursor: pointer; }

.form__button-submit {
  text-transform: uppercase;
  padding: 13px 16px;
  border-radius: 3px;
  background-color: #e45028; }

.map {
  background: url("../images/bg/map.jpg");
  background-size: cover;
  position: relative; }

.map__yandex {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.footer {
  background: url("../images/bg/footer.jpg");
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.footer__address {
  color: #fff;
  font-family: "ubuntulight";
  font-size: 0.875rem; }

.footer__phone {
  color: #e45028;
  font-family: "ubuntubold";
  text-decoration: none;
  font-size: 0.875rem; }

.socials {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.socials__item {
  margin-left: 0.625rem; }
  .socials__item:first-child {
    margin-left: 0; }

.socials__link {
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: .3;
  -webkit-transition: .3s;
  transition: .3s; }
  .socials__link:hover {
    opacity: 1; }

.socials__link-icon {
  width: 1.25rem;
  height: 1.25rem; }

/*# sourceMappingURL=main.css.map */