.form {
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  @include tablet {
    flex-direction: column;
  }
  @include phone {
    flex-direction: column;
  }
}

.order__form {
  @include tablet {
    padding: 0 13%;
  }
  @include phone {
    padding: 0;
  }
}

.form__container {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.form__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: rem(20px);
  margin-bottom: rem(20px);
  &:last-child {
    margin-right: 0;
  }
}

.form__column-phone {
  @include phone {
    margin-right: 0;
  }
}
.form__column_phoneres {
  @include phone {
    display: none;
  }
}
.form__row {
  display: flex;
  flex-direction: row;
  margin-bottom: rem(5px);
  @include phone {
    justify-content: center;
  }
}

.form__row-checkbox {
  @include phone {
    margin-bottom: rem(34px);
  }
}

.form__label {
  font-family: "ubuntulight";
  font-size: rem(14px);
  color: $white;
  margin-bottom: rem(7px);
}

.form__input {
  border: none;
  outline: none;
  border-radius: rem(4px);
  border: rem(2px) solid #d1cfcb;
  width: 100%;
  height: rem(35px);
  padding: 0 rem(10px) 0 rem(15px);
  box-sizing: border-box;
  &:focus {
    border: rem(2px) solid $yellow;
  }
}

.form__input-textarea {
  height: rem(109px);
  width: 100%;
  resize: none;
}

.form__checkbox {
  display: none;
}

.form__checkbox + .form__label {
  position: relative;
}

.form__checkbox + .form__label:hover {
    cursor: pointer;
}
 
.form__checkbox + .form__label:before {
    content: '';
    display: inline-block;
    width: rem(15px);
    height: rem(15px);
    background-color: $white;
    margin-right: rem(10px);
    vertical-align: top;
}

.form__checkbox + .form__label:after {
    content: '✔';
    display: inline-block;
    color: #e35028;
    position: absolute;
    left: rem(2px);
    opacity: 0;
    top: rem(-1px);
    transition: all 0.2s linear;
}

.form__checkbox:checked + .form__label:after {
  opacity: 1;
}

.form__row-radio {
  margin-bottom: rem(25px);
}

.form__radio {
  display: none;
}

.form__radio + .form__label {
  position: relative;
  margin-right: rem(20px);
  vertical-align: top;
}

.form__radio + .form__label:hover {
  cursor: pointer;
}

.form__radio + .form__label:before {
    content: '';
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background-color: $white;
    display: inline-block;
    margin-right: rem(9px);
    vertical-align: top
}
 
.form__radio + .form__label:after {
    content: '';
    width: rem(7px);
    height: rem(7px);
    border-radius: 50%;
    background-color: $orange;
    display: inline-block;
    opacity: 0;
    position: absolute;
    left: rem(4px);
    top: rem(4px);
    transition: all 0.2s linear;

    @include phone {
      top: rem(3px);
    }
}

.form__radio:checked + .form__label:after {
  opacity: 1;
}

.form__button {
  font-family: "ubuntulight";
  color: $white;
  font-size: rem(14px);
  margin-right: rem(21px);
  outline: none;
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.form__button-submit {
  text-transform: uppercase;
  padding: rem(13px) rem(16px);
  border-radius: rem(3px);
  background-color: $orange;
}