.greeting   {
  background-image: url("../images/bg/greeting.jpg");
  background-size: cover;
  padding-top: 12px;
  box-sizing: border-box;
  position: relative;
}

.greeting__container {
  height: 100%;
}
.greeting__title {
  font-family: gagalinregular;
  font-size: 72px;
  color: $yellow;
}

.greeting__text {
  font-family: lifehackmedium;
  font-size: 65px;
  color: $white;
  @include tablet {
    max-width: 470px;
    text-align: center;
  }
}

.greeting__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: column;
  }
}

.greeting__description {
  display: flex;
  flex-direction: column;
  align-content: center;
  @include tablet {
    align-items: center;
  }
}

.greeting__arrow {
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
}