.greeting   {
  background-image: url("../images/bg/greeting.jpg");
  background-size: cover;
  padding-top: rem(12px);
  box-sizing: border-box;
  position: relative;
}

.greeting__img {
  margin-right: rem(12px);

  @include tablet {
    margin-right: 0;
  }

 @include phone {
   margin-right:0;
   width: rem(366px);
 }
}

.greeting__container {
  height: 100%;
}

.greeting__menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba($dark-grey, .99);
  display: none;
  z-index:400;
}
.greeting__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: rem(273px);
}

.greeting__menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:after {
    display: block;
    content: '';
    @include circle(rem(5px), #fff);
    margin: rem(12px) 0;
  }
  &:last-child:after {
    display: none;
  }
}
.greeting__menu__link {
  font-family: "ubunturegular";
  font-size: rem(24px);
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
}

.greeting__title {
  font-family: gagalinregular;
  font-size: rem(72px);
  color: $yellow;

  @include phone {
    font-size: rem(63px);
  }
}

.greeting__text {
  font-family: lifehackmedium;
  font-size: rem(65px);
  color: $white;
  @include tablet {
    max-width: rem(470px);
    text-align: center;
  }
  @include phone {
    font-size: rem(54px);
    text-align: center;
  }
}

.greeting__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: column;
  }
  @include phone {
    flex-direction: column;
    height: initial;
  }
}

.greeting__description {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: rem(80px);

  @include tablet {
    margin-top: 0;
    align-items: center;
  }

  @include phone {
    margin-top: 0;
    align-items: center;
  }
}

.greeting__arrow {
  position: absolute;
  bottom: rem(42px);
  left: 50%;
  transform: translateX(-50%);
}

.burger__img {
  max-height: 100%;
  max-width: 100%;
}