.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  z-index: 450;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__btn {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  height: rem(74px);
  width: rem(98px);
}

.logo__img {
  max-height: 100%;
  max-width: 100%;
}
.order__link {
  padding: rem(10px) rem(17px);
  border-radius: rem(5px);
  background-color: $orange;
  color: #fff;
  text-decoration: none;
  font-family: ubuntumedium;
  font-size: rem(13px);
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
  &:hover {
    background-color: darken($orange, 10%);
  }
}