.map {
  background: url("../images/bg/map.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.map__yandex {
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}