.navmenu-list {
  display: flex;
  flex-direction: row;
  margin-right: 14px;
  
  @include tablet {
    display: none;
  }
}

.navmenu__item {
  // margin-right: 36px;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    @include circle(5px, #fff);
    margin: 0 12px;
  }
  &:last-child:after {
    display: none;
  }
}

.navmenu__link {
  font-family: ubuntumedium;
  font-size: 13px;
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-hamburger {
  display: none;
  flex-direction: column;
  margin-left: 30px;

  @include tablet {
    display: flex;
  }
}
.nav-hamburger__line {
  height: 4px;
  width: 24px;
  margin-top: 2px;
  margin-bottom: 4px; 
  background: $white;
  display: inline-block;
  border-radius: 2px;
}