.order {
  background-image: url("../images/bg/form.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
}

.order__title {
  font-family: "gagalinregular";
  font-size: rem(72px);
  color: $yellow;
  margin-bottom: rem(78px);
  @include tablet {
    font-size: rem(72px);
  }
  @include phone {
    font-size: rem(50px);
    margin-bottom: rem(33px);
  }
}