.reviews-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.reviews__item:hover .reviews__description{
  opacity: 1;
}
.reviews__description{
  padding: 50px;
  opacity: 0;
  background-color: rgba(20,20,20, .7);
}
.reviews__name {
  font-size: 14px;
  color: $white;
  font-family: "gagalinregular";
  margin: 0 0 31px 0;
}

.reviews__text {
  font-family: "ubuntulight";
  font-size: 14px;
  color: $white;
  margin: 0 0 17px 0;
}


.reviews__link {
  font-family: "ubuntumedium";
  font-size: 13px;
  text-transform: uppercase;
  color: $white;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  background-color: $dark-grey;
  &:hover{
    background-color: darken($dark-grey, 5%);
  }
}

.reviews__item {
  display: flex;
  flex: 4 0 25%;
  height: 50%;
  background-size: cover;
  @include tablet {
    flex: 4 0 50%;
  }
}