.reviews-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.reviews__item:hover .reviews__description{
  opacity: 1;
}
.reviews__description{
  padding: rem(50px);
  opacity: 0;
  background-color: rgba(20,20,20, .7);
  @include tablet {
    text-align: center;
  }
}

.reviews__name {
  font-size: rem(14px);
  color: $white;
  font-family: "gagalinregular";
  margin: 0 0 rem(31px) 0;
}

.reviews__text {
  font-family: "ubuntulight";
  font-size: rem(14px);
  color: $white;
  margin: 0 0 rem(17px) 0;
  @include phone {
    display: none;
  }
}


.reviews__link {
  font-family: "ubuntumedium";
  font-size: rem(13px);
  text-transform: uppercase;
  color: $white;
  padding: rem(7px) rem(15px);
  text-decoration: none;
  border-radius: rem(2px);
  display: inline-block;
  background-color: $dark-grey;
  &:hover{
    background-color: darken($dark-grey, 5%);
  }
}

.reviews__item {
  display: flex;
  flex: 4 0 25%;
  height: 50%;
  background-size: cover;
  @include tablet {
    flex: 4 0 50%;
    height: 25%;
  }
  @include phone {
    flex: 4 0 25%;
    height: 25%;
  }
}